* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body.modalOpen {
  overflow: hidden; }

.ordenar_por {
  padding: 20px;
  color: white;
  background-color: #949494;
  display: flex;
  flex-direction: column; }
  .ordenar_por .h1_main {
    font-size: 80px;
    text-transform: uppercase; }
  .ordenar_por .ordernar {
    font-size: 40px; }
  .ordenar_por .ordenar_selection {
    padding: 10px;
    font-size: 20px; }

.galeria_productos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
  text-align: center; }
  .galeria_productos .item1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: item1; }
  .galeria_productos .item2 {
    grid-area: item2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item3 {
    grid-area: item3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item4 {
    grid-area: item4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item5 {
    grid-area: item5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item6 {
    grid-area: item6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item7 {
    grid-area: item7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item8 {
    grid-area: item8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item9 {
    grid-area: item9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos img {
    width: 200px; }
    .galeria_productos img:hover {
      transform: scale(1.1);
      transition: transform 250ms; }
  .galeria_productos .cantidad_style {
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f15a24; }
    .galeria_productos .cantidad_style label {
      font-size: 20px; }
    .galeria_productos .cantidad_style input {
      font-size: 20px;
      margin-top: 5px;
      width: 100px;
      margin-bottom: 10px; }

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  padding: 10px; }
  header .logo_header {
    width: 300px;
    margin-left: 100px; }
  header .redes_header {
    display: flex; }
    header .redes_header .redes_header_icono {
      height: 50px;
      width: 50px;
      margin: 5px;
      padding: 10px;
      background-color: #f15a24;
      border-radius: 10px; }

#toggle {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #949494;
  z-index: 5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  #toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(-5px);
    transition: 0.2s; }
  #toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(5px);
    transition: 0.2s; }

#toggle.active::before {
  transform: translateY(0px) rotate(45deg); }

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg); }

#sidebar {
  position: fixed;
  top: 130px;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #f15a24;
  transition: 0.5s;
  z-index: 1000; }
  #sidebar ul {
    flex-direction: column;
    margin-top: 20px; }
    #sidebar ul li {
      display: flex;
      text-align: center;
      text-transform: uppercase;
      flex-direction: column;
      list-style: none;
      width: 100%; }
      #sidebar ul li:hover {
        background: #333333; }
      #sidebar ul li a {
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 1.3rem; }

#sidebar.active {
  left: 0px; }

.container_nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #949494; }
  .container_nav .input_search .input_search_style {
    padding: 6px;
    border-radius: 20px;
    width: 600px; }
  .container_nav .carrito_style {
    color: white; }

#carritoToggle {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  #carritoToggle .cantidad {
    border-radius: 100%;
    padding: 10px;
    background: #f15a24; }

#carritoModal {
  position: fixed;
  top: 170px;
  left: -100%;
  width: 100%;
  background: white;
  transition: 0.5s;
  z-index: 1000; }
  #carritoModal .close {
    display: flex;
    color: #f15a24;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 3rem;
    cursor: pointer; }
  #carritoModal h2 {
    background: #f15a24;
    padding: 10px 0px 10px 0px;
    text-align: center; }
  #carritoModal div {
    overflow: hidden scroll;
    height: 70vh; }
    #carritoModal div table {
      text-align: center;
      border: 1px solid white;
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
      width: 90%; }
      #carritoModal div table tbody tr td:first-child {
        width: 10vw; }
        #carritoModal div table tbody tr td:first-child img {
          width: 100%; }
      #carritoModal div table tbody small {
        color: #949494;
        font-size: 1.2rem; }
      #carritoModal div table tbody input {
        text-align: center;
        font-size: 1.5rem;
        border: 0px;
        width: 40px; }
      #carritoModal div table tbody .material-icons {
        color: #f15a24;
        font-size: 2rem; }

#carritoModal.active {
  left: 0px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0; }

.carousel {
  width: 100%;
  height: 450px;
  position: relative; }

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms; }

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms; }

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1); }

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2); }

.carousel-button:focus {
  outline: 1px solid black; }

.carousel-button.prev {
  left: 1rem; }

.carousel-button.next {
  right: 1rem; }

.imc_container {
  color: white;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .imc_container .titulo_style {
    font-size: 20px; }
  .imc_container .input {
    padding: 20px; }
    .imc_container .input .input_style {
      padding: 5px;
      background-color: #def; }
    .imc_container .input h2 {
      text-align: center;
      padding: 15px; }
      .imc_container .input h2 span {
        border: 2px solid black; }

.recomendaciones_container {
  color: white;
  background-color: #333333;
  display: flex;
  justify-content: center; }
  .recomendaciones_container img {
    border: 2px solid black;
    border-radius: 20px; }
  .recomendaciones_container .recomendaciones_style {
    color: white;
    padding: 50px;
    font-size: 30px;
    background-color: #f15a24;
    border: 2px solid #040808;
    border-radius: 20px;
    text-align: center; }

.ordenar_por {
  padding: 20px;
  color: white;
  background-color: #949494;
  display: flex;
  flex-direction: column; }
  .ordenar_por .h1_main {
    font-size: 80px;
    text-transform: uppercase; }
  .ordenar_por .ordernar {
    font-size: 40px; }
  .ordenar_por .ordenar_selection {
    padding: 10px;
    font-size: 20px; }

.galeria_productos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
  text-align: center; }
  .galeria_productos .item1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: item1; }
  .galeria_productos .item2 {
    grid-area: item2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item3 {
    grid-area: item3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item4 {
    grid-area: item4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item5 {
    grid-area: item5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item6 {
    grid-area: item6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item7 {
    grid-area: item7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item8 {
    grid-area: item8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos .item9 {
    grid-area: item9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeria_productos img {
    width: 200px; }
    .galeria_productos img:hover {
      transform: scale(1.1);
      transition: transform 250ms; }
  .galeria_productos .cantidad_style {
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f15a24; }
    .galeria_productos .cantidad_style label {
      font-size: 20px; }
    .galeria_productos .cantidad_style input {
      font-size: 20px;
      margin-top: 5px;
      width: 100px;
      margin-bottom: 10px; }

footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: white; }
  footer .h2_newslatter {
    padding: 10px;
    font-size: 30px; }
  footer .newslatter {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center; }
    footer .newslatter .input-style {
      padding: 10px;
      width: 400px; }
    footer .newslatter .btn_suscribirse {
      background-color: #f15a24;
      padding: 10px;
      margin-top: 5px;
      width: 200px;
      color: white;
      font-size: 20px; }
  footer .contactos .redes_footer {
    display: flex;
    justify-content: center; }
    footer .contactos .redes_footer .redes_footer_icono {
      height: 50px;
      width: 50px;
      margin: 5px;
      padding: 10px;
      background-color: #f15a24;
      border-radius: 10px; }
  footer .contactos .h2_contactos {
    padding: 10px;
    font-size: 30px; }
  footer .contactos .logo_footer {
    width: 300px;
    margin-left: 100px; }
