#carritoToggle {
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 5;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .cantidad {
    border-radius: 100%;
    padding:8px 13px;
    background: $colorPrimario;
  }
}

#carritoModal {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 40%;
  background: $colorCuatro;
  transition: 0.5s;
  z-index: 1000;

  .tituloCarritoModal {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    background: $colorPrimario;
    h2 {
      width: 90%;
      padding: 10px 0px 10px 0px;
      text-align: center;
    }
    .close {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  .miCompra {
    overflow: hidden scroll;
    height: 70vh;
    table {
      text-align: center;
      border: 1px solid white;
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      tbody {
        tr {
          td {
            font-size: 1rem;
            &:first-child {
              width: 10vw;
              img {
                width: 50%;
              }
            }
          }
        }
        small {
          color: $colorTerceario;
          font-size: 1rem;
        }
        input {
          text-align: center;
          font-size: 1rem;
          border: 0px;
          width: 40px;
        }
        .material-icons {
          color: red;
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }
  }
  .button_carrito {
    height: 15vh;
    text-align: end;
    margin-right: 40px;
  }
  .suma_total{
    height: 15vh;
    text-align: end;
    margin-right: 80px;
    font-size: 1.5rem;
    
    

  }
}

#carritoModal.active {
  left: 0px;
}
