header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $colorSecundario;
    padding: 10px;
    .img_header{
        width: 150px;
        
    }
    .redes_header{
        display: flex;
        
        
        .redes_header_icono{
            
            height: 30px;
            width: 30px;
            margin: 5px;
            padding: 5px;
            background-color: $colorPrimario;
            border-radius: 10px;
            
        }
        
    }
}