.ordenar_por {
  padding: 20px;
  color: $colorCuatro;
  background-color: $colorTerceario;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  .h1_main {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .ordernar {
    font-size: 2.5rem;
  }
  .ordenar_selection {
    padding: 10px;
    font-size: 20px;
  }
}

.galeria_productos {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: flex-start;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  margin: 20px;
 

  img {
    width: 200px;
    &:hover {
      transform: scale(1.1);
      transition: transform 250ms;
    }
  }
  .cantidad_style {
    color: $colorCuatro;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $colorTerceario;
    label {
      font-size: 20px;
    }
    input {
      font-size: 20px;
      margin-top: 5px;
      width: 100px;
      margin-bottom: 10px;
    }
  }
}
