.container_nav {
  
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorTerceario;
  .input_search {
    .input_search_style {
      padding: 6px;
      border-radius: 20px;
    }
    .lupa_style {
      color: blue;
      padding: 10px;
    }
  }
  .carrito_style {
    color: $colorCuatro;
  }
}
