.container_nav {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $colorTerceario;
  .input_search {
    .input_search_style {
      padding: 6px;
      border-radius: 20px;
      width: 600px;
    }
  }
  .carrito_style {
    color: $colorCuatro;
  }
}
