//mobile
@media only screen and (max-width: 414px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $colorSecundario;
    padding: 10px;
    .logo_header {
      width: 250px;
      padding: 10px;
      margin-left: 15px;
      margin-top: 10px;
    }
    .slogan {
      display: flex;
      font-size: 0.7rem;
    }
    .redes_header {
      display: none;
    }
  }

  .container_nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $colorTerceario;
    .input_search {
      .input_search_style {
        padding: 6px;
        border-radius: 20px;
        width: 200px;
      }
    }
  }

  #carritoModal {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    background: $colorCuatro;
    transition: 0.5s;
    z-index: 1000;
  }

  .imc_container {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imagenes/imcImagenfondo-10.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .h2_titulo {
      background-color: $colorPrimario;
      border: 2px solid $colorCuatro;
      border-radius: 30px;
      margin: 2px;
      padding: 5px 50px 5px 50px;
      font-size: 25px;
      width: 320px;
    }

    h2 {
      font-size: 20px;
      text-align: center;
      padding: 5px;
    }

    h3 {
      width: 300px;
      font-size: 15px;
      text-align: center;
      margin-bottom: 10px;
    }

    .input_resultado {
      padding: 5px 50px 5px 50px;
      font-size: 25px;
      background-color: $colorPrimario;
      border: 2px solid $colorCuatro;
      border-radius: 20px;
    }

    .input {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 70px 20px 70px;
      width: 100vw;
      font-size: 20px;
      background-repeat: no-repeat;
      background-size: cover;

      .input_style {
        padding: 5px 30px 5px 30px;
        font-size: 20px;
        width: 100%;
        margin: 10px;
        text-align: center;
        border-radius: 30px;
      }
    }

    .recomendaciones_style {
      margin-top: 60px;
      margin-bottom: 60px;
      margin-right: 0px;

      font-size: 20px;
      text-align: center;
      border: 2px solid $colorCuatro;
      border-radius: 20px;
      width: 80%;
      height: 200px;
    }
  }

  .galeria_productos {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: flex-start;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin: 20px;
    justify-content: center;

    img {
      width: 100px;
      display: block;
      margin: auto;

      &:hover {
        transform: scale(1.1);
        transition: transform 250ms;
      }
    }
    .cantidad_style {
      color: $colorCuatro;
      border-radius: 10px;
      padding: 1px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: $colorTerceario;
      label {
        font-size: 1rem;
      }
      input {
        font-size: 20px;
        margin-top: 5px;
        width: 100px;
        margin-bottom: 10px;
      }
    }
  }

  footer {
    background-color: $colorSecundario;
    display: flex;
    flex-direction: column;
    color: $colorCuatro;

    .container_redes_contacto {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .newslatter_container {
        .newslatter {
          flex-direction: column;
          .input-style {
            padding: 10px;
            width: 80vw;
          }
        }
      }
    }

    .contactos_container {
      h2 {
        padding: 10px;
        font-size: 1.5rem;
      }
    }

    .logo_footer {
      width: 10rem;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

#sidebar {
  width: 80%;
}
